.button {
  display: inline-block;
  background-color: #228B22;
  border: none;
  font-family: cursive;
  font-weight: bolder;
  font-size: 55%;
  color: #F86200;
  padding: 5px 30px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
}

.button:hover {
  background-color: #f8b500;
  color: #228B22;
}

.button:active {
  background-color: #FF0000;
  color: #228B22;
  box-shadow: 0 5px #666;
}
