@import "header.css";
@import "main.css";
@import "buttons.css";
@import "footer.css";

.card {
  border: 1px solid #228B22;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 100, .8);
  transition: 0.2s;
  max-height: 900px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10%;
  padding-bottom: 10%;
  text-align: center;
  margin: 0px;
  background: radial-gradient(#fceabb, #6dd5ed);
  background-repeat: no-repeat;
}

.card:hover {
  box-shadow: 4px 4px 8px 0 rgba(0, 100, 100, 0.4);
}

.card-image {
  font-size: 60%;
  max-width: 100%;
  max-height: 100%;
}

.card-title {
  font-size: 80%;
  font-weight: bolder;
  color: #F86200;
}

.card-subtitle {
  font-size: 70%;
}

.card-text {
  font-size: 60%;
  font-weight: bold;
  color: #228B22;
  padding-bottom: 10px;
}

.wrapper {
  max-width: 940px;
  margin: 0 20px;
  display: grid;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.wrapper {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(150px, auto);
}

.panel {
  margin-left: 5px;
  margin-right: 5px;
  flex: 1 1 200px;
}

.header,
.footer {
  /*text-align: center;*/
  margin-left: 5px;
  margin-right: 5px;
  flex: 0 1 100%;
  grid-column: 1 / -1;
}

.wrapper>* {
  border-radius: 5px;
  padding: 10px;
  font-size: 125%;
  margin-bottom: 10px;
}
